/* CSS Reset & Global Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter, 'Segoe UI', 'Open Sans';
  -webkit-appearance: none;
}

::placeholder {
  color: rgb(221, 221, 221);
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(20, 19, 19);
  transition: 0.8s all;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  margin-bottom: 1.5%;
  color: #fff;
  font-weight: normal;
}

.container {
  width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

#toast{
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Safari */
  background-clip: text;
}

.top-buttons {
  display: flex;
  align-items: center;

}

input {
  padding: 25px;
  color: rgb(255, 255, 255);
  font-size: 1em;
  cursor: pointer;
  width: 70px;
  background-color: rgb(47, 51, 50);
  border: none;
  outline: none;
  border-radius: 100px;
  margin: 0.2em;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row,
.sixth-row {
  margin-bottom: 4px;
}

input[type="text"] {
  background-color: rgb(47, 51, 50);
  width: 222.5px;
}

input[type="button"]:hover {
  background-color: rgb(101, 101, 101);
  color: #fff;
}

#clear-button {
  color: #fff;
  background-color: rgb(250, 40, 40);
}

#clear-button:hover {
  color: #fff;
  background-color: rgb(210, 40, 40);
}

#equals-button{
  color: #fff;
  background-color: rgb(100, 210, 100);
}

#equals-button:hover{
  color: #fff;
  background-color: rgb(100, 180, 100);
}

a {
  text-decoration: none;
  color: #fff;
}

#github-icon {
  margin-right: 10px;
}

.theme-button {
  all: unset;
  cursor: pointer;
}

#developer{
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: small;
  color: beige;
}

#developer-name{
    animation: changeColor 5s infinite; /* Change color over 5 seconds, repeat infinitely */
}

@keyframes changeColor {
  0% {
      color: red; /* Start with red color */
  }
  20% {
      color: yellow; /* Change to yellow at 20% of animation */
  }
  40% {
      color: greenyellow; /* Change to greenyellow at 40% of animation */
  }
  60% {
    color: orange; /* Change to orange at 60% of animation */
  }
  80% {
      color: deeppink; /* Back to deeppink at 80% of animation */
  }
  100% {
    color: red; /* Back to red at the end of animation */
  }
}